<div class="card">
  <div class="card-header">
    Add a comment
  </div>
  <div class="card-body">

    <form [formGroup]="formularioComentario" (ngSubmit)="enviarDatos()">

      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text"
          class="form-control" formControlName="name" aria-describedby="helpId" placeholder="">
      </div>

      <div class="mb-3">
        <label class="form-label">Body</label>
        <input type="text"
          class="form-control" formControlName="body" aria-describedby="helpId" placeholder="">
      </div>

      <div class="btn-group" role="group" aria-label="Button group name">
        <button type="submit" class="btn btn-primary">Add</button>
        <button routerLink="/listar-posts" type="button" class="btn btn-danger">Cancel</button>
      </div>


    </form>

  </div>
</div>
